.page-footer {
padding:20px;
background-color:#8aea92;
}
body{
color:white
}
body{
font-size:16px
}
body{
line-height:26px
}
body{
background: #7777 url('bg.png') no-repeat top center;
}
main {
border:5px solid #2d508f
}
h1 {
    font-size: 2em;
}
.skills dd {
    background-color: #e8e8e8;
    margin: 0;
    margin-bottom: 10px;
}
.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4470c4;
}
.skills-level {
